statuses/*
target
.DS_Store
~$*
.classpath
.project
.settings
reports/*
atlassian-ide-plugin.xml
*.iml
*.ipr
*.iws
*.ids
.idea
.idea/*
.idea/libraries
.idea\libraries
/bin
xauth-test.properties
sitestream-test.properties